language: rust
rust:
  - stable
  - beta
  - nightly
sudo: false
script:
  - cargo build --verbose && cargo test --verbose && cargo doc --verbose
after_success: curl https://raw.githubusercontent.com/afck/fann-rs/master/scripts/travis-doc-upload.sh | sh
addons:
  apt:
    packages:
      - libfann-dev
